{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Add Transaction</h2>

    <form method="POST">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="amount_given" class="form-label">Amount Given</label>
            <input type="number" name="amount_given" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="amount_returned" class="form-label">Amount Returned</label>
            <input type="number" name="amount_returned" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="description" class="form-control" required></textarea>
        </div>

        <div class="mb-3 text-center">
            <button type="submit" class="btn btn-primary">Save Transaction</button>
        </div>
    </form>
    
    <div class="mt-3 text-center">
        <a href="{% url 'emi:transaction_list' %}" class="btn btn-outline-secondary btn-sm">Back to Transaction List</a>
    </div>
</div>
{% endblock %}
