{% extends "base.html" %}

{% block content %}
<h2>Your EMI List</h2>
<table class="table table-striped mt-4">
    <thead>
        <tr>
            <th>#</th>
            <th>Total Amount</th>
            <th>Monthly Payment</th>
            <th>Paid Amount</th>
            <th>Pending Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for emi in emis %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ emi.total_amount }}</td>
            <td>{{ emi.monthly_payment }}</td>
            <td>{{ emi.paid_amount }}</td>
            <td>{{ emi.pending_amount }}</td>
            <td><a href="{% url 'emi:update_emi_payment' emi.id %}" class="btn btn-sm btn-info">Update</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
